@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@layer theme, base, components, utilities;
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-harting: 'Harting', sans-serif;
  --font-spacemono: 'Space Mono', monospace;
  --brickwall-pattern: url('/bgs/brickwall.svg');
  --bubbles-pattern: url('/bgs/bubble.svg');
  --clouds-pattern: url('/bgs/clouds.svg');
  --cross-pattern: url('/bgs/cross.svg');
  --diamonds-pattern: url('/bgs/diamonds.svg');
  --leaf-pattern: url('/bgs/leaf.svg');
  --overlapcrc-pattern: url('/bgs/overlapcrc.svg');
  --tictactoe-pattern: url('/bgs/tictactoe.svg');
  --triangle-pattern: url('/bgs/triangle.svg');
  --wavy-pattern: url('/bgs/wavy.svg');
}

@font-face {
  font-family: 'Harting';
  src: url('../components/assets/fonts/Harting.ttf') format('truetype');
}

@layer base {
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
  }
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
								  supported by Chrome, Edge, Opera and Firefox */
}
