@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Harting';
  src: url('../components/assets/fonts/Harting.ttf');
}

@font-face {
  font-family: 'Virgil';
  src: url('https://excalidraw.com/Virgil.woff2');
}
@font-face {
  font-family: 'Cascadia';
  src: url('https://excalidraw.com/Cascadia.woff2');
}
